* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a, Link {
    text-decoration: none;
    &:focus, &:hover, &:visited, &:link, &:active {
      text-decoration: none;
      place-self: center;
    }
  }
  
  body {
    width: 100vw;
    height: 100vh;
  }
  
  button {
    padding: .5rem;
    margin: 1rem;
    background: none;
    cursor: pointer;
    text-transform: none;
    border: 1px solid black;
    font-size: 1rem;
    letter-spacing: 1.5px;
  }