
.all-fave-quotes {
    @include mediaQueries(grid);
    gap: 2rem;
    overflow-y: scroll;
    margin: 2rem;
    height: 100vh;
    place-items: center;
}

.no-faves-yet {
    margin-top: 10rem;
    padding: 1rem;
    text-align: center;
    place-self: center;
    width: 55%;
    background: $color-dark;
    color: $color-primary;
    box-shadow: $box-shadow;
    font-family: $font-family-primary;
}
