.nav-btns {
    display: flex;
    align-items: center;
}

.fave-btn {
    color: white;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

header {
    color: black;
    margin-left: 1rem;
    align-self: center;
    font-size: 2rem;
}