.nav-btns {
    display: flex;
    align-items: center;
}

.header {
    color: $color-dark;
    margin-left: 1rem;
    align-self: center;
    font-size: 2.5rem;
    font-family: $font-family-primary;
}

.has-faves {
    background: url('https://img.icons8.com/fluency/48/000000/like.png') no-repeat;
    background-position: center;
    transition: 1s;
    background-size: contain;
}

@media only screen and (min-width: 250px) {

    .header {
        font-size: 2rem;
        transition: 1s;
    }
}
  
@media only screen and (min-width: 768px) {
  
    .header {
        font-size: 2.4rem;
        transition: 1s;
    }
}
  
@media only screen and (min-width: 1000px) {
  
    .header {
        font-size: 2.5rem;
        transition: 1s;
    }
}
