.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

.quote {
    margin: 2rem;
}

.button-options {
    display: flex;
    flex-direction: column;
}