.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    background: rgba(244, 245, 220, .76);
    place-self: center;
    width: 65%;
    box-shadow: 1px 8px 15px 2px black;
    animation: 1s fade-in-delay ease-in;
}

.quote {
    font-size: 3.5rem;
    text-align: center;
    background: black;
    color: white;
    padding: 1rem;
    width: 100%;
}

.button-options {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}

.shuffle-quote {
    &:hover{
        animation: shake 0.9s cubic-bezier(.36, .07, .19, .97);
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

.message-container {
    animation: slide;
    position: fixed;
    opacity: 50%;
    animation: slide 2s;
}
  

@media only screen and (max-width: 425px) {

  .quote {
     font-size: 2rem;
    }

}

@media only screen and (max-width: 770px) {

  .quote {
    font-size: 2.5rem;
   }

}