.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-self: center;
    margin-top: 7rem;
    width: 65%;
    background: $color-background;
    box-shadow: $box-shadow;
    animation: 1s fade-in-delay ease-in;
}

.quote {
    font-size: 3.5rem;
    text-align: center;
    background: $color-dark;
    color: $color-light;
    padding: 1rem;
    width: 100%;
    font-family: $font-family-primary;
}

.button-options {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}

.shuffle-quote {
    &:hover{
        animation: shake 0.9s cubic-bezier(.36, .07, .19, .97);
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

.message-container {
    animation: slide;
    position: fixed;
    opacity: 50%;
    animation: slide 2s;
}
  

@media only screen and (min-width: 250px) {

  .quote {
     font-size: 2rem;
     transition: 1s;
    }

}

@media only screen and (min-width: 768px) {

  .quote {
    font-size: 2.5rem;
    transition: 1s;
   }

}

@media only screen and (min-width: 1000px) {

    .quote {
      font-size: 3.5rem;
      transition: 1s;
     }
  
  }
