.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    background: rgba(244, 245, 220, 0.46);
    place-self: center;
    width: 65%;
    box-shadow: 1px 8px 15px 2px black;
}

.welcome {
    font-size: 2.5rem;
    text-align: center;
    background: black;
    color: white;
    padding: 1rem;
    width: 100%;
}
