/* === Font Import === */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
/* === Defaults === */

$font-family-primary: 'Raleway', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;
$font-size-defaults: 1rem;
$font-style-defaults: normal;
$font-line-height-defaults: 1rem;
$font-weight-defaults: normal;
$font-style-defaults: normal;